# copied these from https://github.com/mattmc3/fishconf/tree/main
# highly doubt I would have all these files or use the exact same plugins,
# in any case, these should do fine.
.reel/
.fisher/
fisher/
themes
!**/themes/
fish_variables
*.local
*.local.*
*.local/
local/
fishprof*.txt
.omf2/

# sublime text / merge
*.sublime_license
*.sublime_session
